.chessman{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
    background: #DFCFA6;
    cursor: pointer;
    font-family: 'kaiti';
    /* border-style: inset; */
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4) inset
}