.board{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#chinese-chess-board-canvas{
    position: absolute;
    left: 0;
    top: 0;
}

/* 为了使各方位置都显示在棋盘下方 （默认黑上红下），黑色方应用如下样式*/
.chess-container.blackSide{
    display: flex;
    flex-direction: column-reverse;
}
.blackSide .square-row{
    flex-direction: row-reverse
}

/* .............................................. */

.square{
    /* outline: 1px dashed #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* perspective: 200px;
    -webkit-perspective:200px */
}